/*新闻标题页/新闻目录页*/
.middle{margin-top: 17px; font-size: 14px;}
.middleLeft{width: 228px; float: left;}
.middleLeft > h5{width: 100%; height: 31px; border: 1px solid #1c1c1c; background: #f9471a; color: #ffffff; line-height: 31px; text-align: center;}
.middleLeft > ul{border: 1px solid #e1220c; border-top: none; width: 228px; min-height: 332px;}
.middleLeft > ul > li{background: url("../images/img5.png") no-repeat 16px center;}
.middleLeft > ul > li > a{display: inline-block; width: 100%; height: 44px; line-height: 44px; text-indent: 33px; border-bottom: 1px dotted #aaaaaa;}
.middleLeft > ul > li > a:hover{color: #b60102;}
.middleRight{width: 739px; height: 100%; border: 1px solid #e1a976; margin-left: 247px;}
.middleRight>h5{width: 100%; height: 21px; background-color: #b60102; color: #ffffff; font-weight: normal; vertical-align: middle;}
.middleRight>h5>ul{padding-left: 21px; padding-top: 3px;}
.middleRight>h5>ul>li{font-size: 12px; float: left; margin-right: 20px;}
.middleRight>h5>ul>li>a{color: #ffffff;}
.middleRight>h5>ul>li>a:hover{color: #dab644;}
.middleRight>h5>ul>li>a.navActive{color: #dab644;}
.middleRight > p{margin: 45px; font-size: 14px; color: #1c1c1c;}
.middleRight>ul{height: 100%; margin: 20px; font-size: 12px;}
.middleRight>ul>li{height: 30px; background: url("../images/img9.png") no-repeat 10px center; line-height: 30px; text-indent: 32px;}
.middleRight>ul>li>a{display: inline-block; width: 660px; height: 30px;}
.middleRight>ul>li>a:hover{color: #b60102; background: #cccccc;}
.middleRight>ul>li>a>.spanDate{float: right;}
.redSpan{color: #b60102}
nav{width: 695px; margin: 0 auto}
nav>ul>li.inputPage>a>input{width: 25px}
nav>ul>li>a:hover{background-color: #ffffff}
nav>ul>button{height: 30px;width: 40px;margin-left: 25px}
/*新闻正文页*/
.middleText {
    width: 986px;
    min-height: 677px;
    border: 1px solid #e1a976;
    margin: 0 auto;
    margin-top: 17px;
    font-size: 14px;
    margin-bottom: 20px;

}
.middleText>h5{width: 100%; height: 21px; background-color: #b60102; color: #ffffff; font-weight: normal; vertical-align: middle;}
.middleText>h5>ul{padding-left: 21px; padding-top: 3px;}
.middleText>h5>ul>li{font-size: 12px; float: left; margin-right: 20px;}
.middleText>h5>ul>li>a{color: #ffffff;}
.middleText>h5>ul>li>a:hover{color: #dab644;}
.middleText>h5>ul>li>a.navActive{color: #dab644;}


.middleText>.middleTextTitle>h5 {
    color: #fb0600;
    font-size: 20px;
    font-family: "Microsoft YaHei", "微软雅黑";
    text-align: center;
    line-height: 85px;
    }
.middleText>.middleTextTitle>p{
    text-align: right;
    font-size: 12px;
    padding-right: 20px;
}
.middleText>.newsText{
    padding: 20px;
    text-indent: 2em;
}
.middleText>.newsText>p{
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.middleText>p{
    padding: 20px;
    padding-top: 0;
}
.middleText>p>a:hover{
    color: #fb0600;
}