@charset "utf-8";
/* CSS Document */

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(/public/images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(/public/images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/public/images/); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(/public/images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(/public/images/treeview-red.gif); } 

.treeview-black li { background-image: url(/public/images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(/public/images/treeview-black.gif); }  

.treeview-gray li { background-image: url(/public/images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(/public/images/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(/public/images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(/public/images/treeview-famfamfam.gif); } 

.treeview .placeholder {
	background: url(/public/images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(/public/images/sprites.png) 0 -1936px no-repeat !important;}
.filetree li.expandable span.folder { background: url(/public/images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(/public/images/sprites.png) 0 -704px no-repeat;cursor: pointer ; }

body{font-size:12px;}
#pma_navigation {
    width: 240px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: url("/public/images/left_nav_bg.png") repeat-y right 0% #f3f3f3;
    color: #000;
    z-index: 800;
}
#pma_navigation_resizer {
    width: 3px;
    height: 100%;
    background-color: #aaa;
    cursor: col-resize;
    position: fixed;
    top: 0;
    left: 240px;
    z-index: 801;
}
#pma_navigation_collapser {
    width: 20px;
    height: 22px;
    line-height: 22px;
    background: #eee;
    color: #555;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 240px;
    text-align: center;
    cursor: pointer;
    z-index: 800;
    text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
    border: 1px solid #888;
}
table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
	border-collapse: collapse;
	
	padding-right:1em;
	
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table th, table td {
    padding: .3em;
    margin: .1em;
    vertical-align: top;
    text-shadow: 0 1px 0 #fff;
}
table td {
   border-right:1px solid rgb(187, 187, 187);
}
th {
    border-right: 1px solid #fff;
    text-align: left;
}
th {
    font-weight: bold;
    color: #000;
    background: #f3f3f3;
    background-image: url(/public/images/svg_gradient);
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -webkit-linear-gradient(top, #ffffff, #cccccc);
    background: -moz-linear-gradient(top, #ffffff, #cccccc);
    background: -ms-linear-gradient(top, #ffffff, #cccccc);
    background: -o-linear-gradient(top, #ffffff, #cccccc);
	
}
user agent stylesheet
th {
    font-weight: bold;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
td.data {
    border-right: 1px solid #bbb;
}
.pma_table td {
    position: static;
}
.data, .data_full_width {
    margin: 0 0 12px;
}
/******************************************************************************/
/* specific elements */

/* topmenu */
#topmenu a {
    text-shadow: 0 1px 0 #fff;
}

#topmenu .error {
    background: #eee;border: 0 !important;color: #aaa;
}

ul#topmenu,
ul#topmenu2,
ul.tabs {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#topmenu2 {
    margin: .25em .5em 0;
    height: 2em;
    clear: both;
}


ul#topmenu li {
    float: left;
    margin: 0;
    vertical-align: middle;
}

#topmenu img,
#topmenu2 img {
    margin-right: .5em;
    vertical-align: -3px;
}
.icon {
    margin: 0 .3em;
    padding: 0 !important;
    width: 16px;
    height: 16px;
    background-image: url('/public/images/sprites.png') !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
}
.ic_asc_order { background-position: 0 -16px !important; }
.ic_b_bookmark { background-position: 0 -32px !important; }
.ic_b_browse { background-position: 0 -48px !important; }
.menucontainer {
    /* background-image: url(./themes/svg_gradient.php?from=ffffff&to=dcdcdc); */
    /* background-size: 100% 100%; */
    background: 
    -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
    /* background: 
    -webkit-linear-gradient(top, #ffffff, #dcdcdc); */
    background: 
    -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: 
    -ms-linear-gradient(top, #ffffff, #dcdcdc);
    background: 
    -o-linear-gradient(top, #ffffff, #dcdcdc);
    border-top: 1px solid #aaa;
}

/* default tab styles */
.tabactive {
    background: #fff !important;
}

ul#topmenu2 a {
    display: block;
    margin: 7px 6px 7px;
    margin-left: 0;
    padding: 4px 10px;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #f2f2f2;

}

fieldset.caution a {
    color: #FF0000;
}
fieldset.caution a:hover {
    color: #fff;
    background-color: #FF0000;
}

#topmenu {
    margin-top: .5em;
    padding: .1em .3em;
}

ul#topmenu ul {
    -moz-box-shadow: 1px 1px 6px #ddd;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
}

ul#topmenu ul.only {
    left: 0;
}

ul#topmenu > li {
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
	height:30px;
}

/* default tab styles */
ul#topmenu a,
ul#topmenu span {
    padding: .6em;
	display:block;
}

ul#topmenu ul a {
    border-width: 1pt 0 0 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

ul#topmenu ul li:first-child a {
    border-width: 0;
}

/* enabled hover/active tabs */
ul#topmenu > li > a:hover,
ul#topmenu > li > .tabactive {
    text-decoration: none;
}

ul#topmenu ul a:hover,
ul#topmenu ul .tabactive {
    text-decoration: none;
}

ul#topmenu a.tab:hover,
ul#topmenu .tabactive {
    /* background-color: #F5F5F5;  */
}

ul#topmenu2 a.tab:hover,
ul#topmenu2 a.tabactive {
    background-color: #E5E5E5;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: #235a81;
    cursor: pointer;
    outline: none;
}
#topmenu a {
    text-shadow: 0 1px 0 #fff;
}
ul.resizable-menu a, ul.resizable-menu span {
   
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.ic_asc_order { background-position: 0 -16px !important; }
.ic_b_bookmark { background-position: 0 -32px !important; }
.ic_b_browse { background-position: 0 -48px !important; }
.ic_b_calendar { background-position: 0 -64px !important; }
.ic_b_chart { background-position: 0 -80px !important; }
.ic_b_close { background-position: 0 -96px !important; }
.ic_b_column_add { background-position: 0 -112px !important; }
.ic_b_comment { background-position: 0 -128px !important; }
.ic_b_dbstatistics { background-position: 0 -144px !important; }
.ic_b_deltbl { background-position: 0 -160px !important; }
.ic_b_docs { background-position: 0 -176px !important; }
.ic_b_docsql { background-position: 0 -192px !important; }
.ic_b_drop { background-position: 0 -208px !important; }
.ic_b_edit { background-position: 0 -224px !important; }
.ic_b_empty { background-position: 0 -240px !important; }
.ic_b_engine { background-position: 0 -256px !important; }
.ic_b_event_add { background-position: 0 -272px !important; }
.ic_b_events { background-position: 0 -288px !important; }
.ic_b_export { background-position: 0 -304px !important; }
.ic_b_find_replace { background-position: 0 -320px !important; }
.ic_b_firstpage { background-position: 0 -336px !important; }
.ic_b_ftext { background-position: 0 -352px !important; }
.ic_b_group { background-position: 0 -368px !important; }
.ic_b_help { background-position: 0 -384px !important; }
.ic_b_home { background-position: 0 -400px !important; }
.ic_b_import { background-position: 0 -416px !important; }
.ic_b_index { background-position: 0 -432px !important; }
.ic_b_index_add { background-position: 0 -448px !important; }
.ic_b_info { background-position: 0 -464px !important; width: 11px; height: 11px; }
.ic_b_inline_edit { background-position: 0 -480px !important; }
.ic_b_insrow { background-position: 0 -496px !important; }
.ic_b_lastpage { background-position: 0 -512px !important; }
.ic_b_minus { background-position: 0 -528px !important; }
.ic_b_more { background-position: 0 -544px !important; }
.ic_b_move { background-position: 0 -560px !important; }
.ic_b_newdb { background-position: 0 -576px !important; }
.ic_b_newtbl { background-position: 0 -592px !important; }
.ic_b_nextpage { background-position: 0 -608px !important; }
.ic_b_pdfdoc { background-position: 0 -624px !important; }
.ic_b_plus { background-position: 0 -640px !important; }
.ic_b_prevpage { background-position: 0 -656px !important; }
.ic_b_primary { background-position: 0 -672px !important; }
.ic_b_print { background-position: 0 -688px !important; }
.ic_b_props { background-position: 0 -704px !important; }
.ic_b_relations { background-position: 0 -720px !important; }
.ic_b_routine_add { background-position: 0 -736px !important; }
.ic_b_routines { background-position: 0 -752px !important; }
.ic_b_save { background-position: 0 -768px !important; }
.ic_b_sbrowse { background-position: 0 -784px !important; }
.ic_b_sdb { background-position: 0 -800px !important; width: 10px; height: 10px; }
.ic_b_search { background-position: 0 -816px !important; }
.ic_b_selboard { background-position: 0 -832px !important; }
.ic_b_select { background-position: 0 -848px !important; }
.ic_b_snewtbl { background-position: 0 -864px !important; }
.ic_b_spatial { background-position: 0 -880px !important; }
.ic_b_sql { background-position: 0 -896px !important; }
.ic_b_sqldoc { background-position: 0 -912px !important; }
.ic_b_sqlhelp { background-position: 0 -928px !important; }
.ic_b_table_add { background-position: 0 -944px !important; }
.ic_b_tblanalyse { background-position: 0 -960px !important; }
.ic_b_tblexport { background-position: 0 -976px !important; }
.ic_b_tblimport { background-position: 0 -992px !important; }
.ic_b_tblops { background-position: 0 -1008px !important; }
.ic_b_tbloptimize { background-position: 0 -1024px !important; }
.ic_b_tipp { background-position: 0 -1040px !important; }
.ic_b_trigger_add { background-position: 0 -1056px !important; }
.ic_b_triggers { background-position: 0 -1072px !important; }
.ic_b_undo { background-position: 0 -1088px !important; }
.ic_b_unique { background-position: 0 -1104px !important; }
.ic_b_usradd { background-position: 0 -1120px !important; }
.ic_b_usrcheck { background-position: 0 -1136px !important; }
.ic_b_usrdrop { background-position: 0 -1152px !important; }
.ic_b_usredit { background-position: 0 -1168px !important; }
.ic_b_usrlist { background-position: 0 -1184px !important; }
.ic_b_view { background-position: 0 -1200px !important; }
.ic_b_view_add { background-position: 0 -1216px !important; }
.ic_b_views { background-position: 0 -1232px !important; }
.ic_bd_browse { background-position: 0 -1248px !important; }
.ic_bd_deltbl { background-position: 0 -1264px !important; }
.ic_bd_drop { background-position: 0 -1280px !important; }
.ic_bd_edit { background-position: 0 -1296px !important; }
.ic_bd_empty { background-position: 0 -1312px !important; }
.ic_bd_export { background-position: 0 -1328px !important; }
.ic_bd_firstpage { background-position: 0 -1344px !important; }
.ic_bd_ftext { background-position: 0 -1360px !important; }
.ic_bd_index { background-position: 0 -1376px !important; }
.ic_bd_insrow { background-position: 0 -1392px !important; }
.ic_bd_lastpage { background-position: 0 -1408px !important; }
.ic_bd_nextpage { background-position: 0 -1424px !important; }
.ic_bd_prevpage { background-position: 0 -1440px !important; }
.ic_bd_primary { background-position: 0 -1456px !important; }
.ic_bd_sbrowse { background-position: 0 -1472px !important; }
.ic_bd_select { background-position: 0 -1488px !important; }
.ic_bd_spatial { background-position: 0 -1504px !important; }
.ic_bd_unique { background-position: 0 -1520px !important; }
.ic_col_drop { background-position: 0 -1536px !important; }
.ic_database { background-position: 0 -1552px !important; }
.ic_eye { background-position: 0 -1568px !important; }
.ic_eye_grey { background-position: 0 -1584px !important; }
.ic_item { background-position: 0 -1600px !important; width: 9px; height: 9px; }
.ic_lightbulb { background-position: 0 -1616px !important; }
.ic_lightbulb_off { background-position: 0 -1632px !important; }
.ic_more { background-position: 0 -1648px !important; width: 13px; }
.ic_new_data { background-position: 0 -1664px !important; }
.ic_new_data_hovered { background-position: 0 -1680px !important; }
.ic_new_data_selected { background-position: 0 -1696px !important; }
.ic_new_data_selected_hovered { background-position: 0 -1712px !important; }
.ic_new_struct { background-position: 0 -1728px !important; }
.ic_new_struct_hovered { background-position: 0 -1744px !important; }
.ic_new_struct_selected { background-position: 0 -1760px !important; }
.ic_new_struct_selected_hovered { background-position: 0 -1776px !important; }
.ic_pause { background-position: 0 -1792px !important; }
.ic_php_sym { background-position: 0 -1808px !important; }
.ic_play { background-position: 0 -1824px !important; }
.ic_s_asc { background-position: 0 -1840px !important; }
.ic_s_asci { background-position: 0 -1856px !important; }
.ic_s_attention { background-position: 0 -1872px !important; }
.ic_s_cancel { background-position: 0 -1888px !important; }
.ic_s_cancel2 { background-position: 0 -1904px !important; }
.ic_s_cog { background-position: 0 -1920px !important; }
.ic_s_db { background-position: 0 -1936px !important; }
.ic_s_desc { background-position: 0 -1952px !important; }
.ic_s_error { background-position: 0 -1968px !important; }
.ic_s_error2 { background-position: 0 -1984px !important; width: 11px; height: 11px; }
.ic_s_host { background-position: 0 -2000px !important; }
.ic_s_info { background-position: 0 -2016px !important; }
.ic_s_lang { background-position: 0 -2032px !important; }
.ic_s_loggoff { background-position: 0 -2048px !important; }
.ic_s_notice { background-position: 0 -2064px !important; }
.ic_s_okay { background-position: 0 -2080px !important; }
.ic_s_passwd { background-position: 0 -2096px !important; }
.ic_s_process { background-position: 0 -2112px !important; }
.ic_s_really { background-position: 0 -2128px !important; width: 11px; height: 11px; }
.ic_s_reload { background-position: 0 -2144px !important; }
.ic_s_replication { background-position: 0 -2160px !important; }
.ic_s_rights { background-position: 0 -2176px !important; }
.ic_s_sortable { background-position: 0 -2192px !important; }
.ic_s_status { background-position: 0 -2208px !important; }
.ic_s_success { background-position: 0 -2224px !important; }
.ic_s_sync { background-position: 0 -2240px !important; }
.ic_s_tbl { background-position: 0 -2256px !important; }
.ic_s_theme { background-position: 0 -2272px !important; }
.ic_s_top { background-position: 0 -2288px !important; }
.ic_s_vars { background-position: 0 -2304px !important; }
.ic_s_views { background-position: 0 -2320px !important; }
.ic_window-new { background-position: 0 -2336px !important; }
#mbx{width:100%; padding-left:30px; height:22px; line-height:22px; top:0;position:fixed;  background-color:#888; color:#FFF; font-size:12px;}
.mx_tips{ padding:5px; height:22px; line-height:22px; display:none; width:300px;}
.mx_success_tips{display:block; padding-left:10px;width:100%; height:20px; border:1px solid #93D02D; background-color:#D0EBA3;-webkit-border-radius: 5px;border-radius: 5px; display:none;}
.mx_err_tips{display:block; padding-left:10px;width:100%; height:20px; border:1px solid #900; background-color:#FFACAC;-webkit-border-radius: 5px;border-radius: 5px; display:none;}
.mx_text_tip{ background-color:#e5e5e5; padding:5px; width:99%; line-height:24px; color:#666;}
.form_div{margin-top:50px;}
input[type=submit]{
	border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    text-decoration: none;
    background: #ddd;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    text-shadow: 0 1px 0 #fff;
    background-image: url(./themes/svg_gradient.php?from=ffffff&to=cccccc);
    background-size: 100% 100%;
	font-size:1em;
	font-family: Arial;
	font-weight:bold;
	}
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=select]  {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height:18px;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;

    background: white;
    border: 1px solid #aaa;
    color: #555;
    padding: 4px;
    margin: 6px;}
.my-modal{width:100px;}