<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>订单结算</title>
    <link href="/public/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="/public/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="/public/css/animate.min.css" rel="stylesheet">
    <link href="/public/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link href="/public/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <base target="_blank">

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
<!--startprint-->

        <h6 class="table1Center2" align="top">单号：<span id="sn">{$result['order_sn']}</span></h6>

        <table class="table table1 table-bordered">
            <thead>
            
            
            </thead>
            <tbody>
            <tr>
                <td class="rentalListTitle" colspan="4">租车人信息</td>
            </tr>
            <tr>
                <input type="hidden" value="" id="h_o_u_id">
                <input type="hidden" value="" id="h_o_c_id">
                <td>姓名</td>
                <td id="o_name">{$result['customer_name']}</td>
                <td>电话：</td>
                <td id="o_tel">{$result['customer_tel']}</td>
            </tr>
           
            <tr>
                <td class="rentalListTitle" colspan="4">租车详情(<span id="o_carname">{$result['carname']}</span>)</td>
            </tr>
            <tr>
                <td>车牌号：</td>
                <td id="o_chepai">{$result['car_chepai']}</td>
                <td>租金：</td>
                <td id="o_price">{$result['order_price']}</td>
            </tr>
            <tr>
                <td>取车时间：</td>
                <td id="o_start_time">{$result['order_start']|date="Y-m-d",###}</td>
                <td>预计还车时间：</td>
                <td id="o_end_time">{$result['order_end']|date="Y-m-d",###}</td>
            </tr>
            <tr>
                <td>交强险：</td>
                <td id="o_jq">{$result['jiaoqiang']}</td>
                <td>车损险：</td>
                <td id="o_cs">{$result['chesun']}</td>
            </tr>
            <tr>
                <td>第三者责任险：</td>
                 <td id="o_dsz">{$result['disanzhe']}</td>
                <td >不计免赔：</td>
                <td id="o_bjmp">{$result['bujimianpei']}</td>
            </tr>
            <tr>
                <td>预授权押金:</td>
                <td id="o_yajin">{$result['order_yajin']}</td>
                <td>超时租金:</td>
                <td id="o_chaoshi">{$result['chaoshi']}</td>
            </tr>
             <tr>
                <td>租金合计：</td>
                <td id="o_price3">{$result['heji_price']}</td>
                <td>实收租金合计：</td>
                <td id="o_price2">{$result['shishou_price']}元 (已优惠： <span id="o_yh">{$result['order_youhui']}</span>元)</td>
            </tr>
            <tr>
                <td>当前油量：</td>
                <td id="o_youliang"><input type="text" class="form-control" id="js_youliang"></td>
                <td>当前公里数：</td>
                <td id="o_gongli"><input type="text" class="form-control" id="js_gongli"></td>
            </tr>
             <tr>
                <td>实际还车时间：</td>
                <td id=""><input type="text" class="form-control" id="js_huanche"></td>
                <td>应收/应付</td>
                <td id="js_ysyf"></td>
            </tr>
             <tr>
                <td>订单总金额：</td>
                <td id="js_zje"></td>
                <td></td>
                <td><button type="button" class="btn-danger" onclick=jiesuan("{$result['id']}")>结算</button></td>
            </tr>
            </tbody>
        </table>
 <!--endprint-->
        
    </div>
    <script src="/public/js/jquery.min.js?v=2.1.4"></script>
    <script src="/public/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/public/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/public/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/public/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/public/js/content.min.js?v=1.0.0"></script>
    <script src="/public/js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
        var myDate=new Date();
    $('#js_huanche').datetimepicker({
        startDate:myDate,
        format: 'yyyy-mm-dd hh:ii',
        endDate:new Date((myDate/1000+86400*90)*1000),
        language: 'zh-CN', /*加载日历语言包，可自定义*/
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    }).on('changeDate', function(e){
        jiesuan_order("{$result['id']}");
    });
    $('#js_huanche').datetimepicker('setDate' , new Date());
       
    function jiesuan_order(id){
        $.ajax({
            url: '/index.php/home/order/jiesuan_price?id='+id+"&order_end_time="+$("#js_huanche").val(),
            type: 'GET',
            dataType: 'json',
            data: {
            },
        })
        .success(function(data) {
            $("#js_zje").html(data.order_price);
            $("#js_ysyf").html(data.chajia)
            console.log("success");
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
        
    }

        function jiesuan(id){
           $.ajax({
               url: '/index.php/home/order/jiesuan',
               type: 'POST',
               dataType: 'text',
               data: {
                id: id,
                jiesuan_price: $("#js_zje").html()
               
           },
           })
           .success(function(data) {
            alert(data);
               console.log("success");
           })
           .fail(function() {
               console.log("error");
           })
           .always(function() {
               console.log("complete");
           });
           
        }
    </script>
    
    </body>
</html>